.main {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  height: 100%;
  margin: 3rem auto;
  
  &__article {
    width: 50%;
    order: 0;

    &--part {
      &:last-child {
        margin-bottom: $margin-4;
      }
    }
    
    &--text {
      margin: 1rem auto;
    }
    
    &--img {
      width: 100%;
      margin: 1rem auto;
    }
  }
  
  &__aside {
    width: 25%;
    position: relative;
    top: 90px;
    order: 1;
    margin-left: $margin-4;
    background-color: $color-gray;
    height: 80%;
    text-align: center;
  }
}

.btn {
  @include gradient;
  border: none;
  padding: .8rem;
  width: 80%;
  position: relative;
  top: 4rem;
  outline: none;
  cursor: pointer;

  &:before {
    @include hover-btn-gradient;
    position: absolute;
    content: "Send Me The Tips";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .3s;
    opacity: 0;
  }

  &:hover:before {
    opacity: 1;
  }
  
  &:active:before {
    opacity: .5;
  }
}

.divider {
  @include hr-gradient;
  border: none;
  height: 2px;
  margin-bottom: 2rem;
}


@include media(phablet) {
  .main {
    flex-wrap: wrap;
    margin: 1rem auto;
    
    &__article {
      width: 80%;

      &--part {
        margin-bottom: $margin-3;
        
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__aside {
      margin: -4rem 0 2rem 0;
      width: 60%;
      height: 50%;
    }
  }
  
  .btn {
    top: 2rem;
  }
}

@include media(phone) {
  .main {
    flex-wrap: wrap;
    margin: 1rem auto;
    
    &__article {
      width: 100%;
    }

    &__aside {
      width: 90%;
      height: 50%;
      margin-bottom: 2rem;
    }
  }

  .btn {
    top: 2rem;
  }
}