.main {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 3rem auto;
  padding: 1rem;
  
  &__article {
    width: 50%;
    order: 0;
    

    &--text {
      margin: 1rem auto;
    }
    
    &--img {
      width: 100%;
      margin: 1rem auto;
    }
  }
  
  &__aside {
    width: 25%;
    position: relative;
    top: 90px;
    order: 1;
    margin-left: $margin-4;
    background-color: $color-gray;
    height: 80vh;
    text-align: center;

    &--btn {
      @include gradient;
      border: none;
      padding: .8rem;
      width: 80%;
      position: absolute;
      top: 4rem;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      

    }
  }
}


.divider {
  @include hr-gradient;
  border: none;
  height: 2px;
  margin-bottom: 2rem;
}


@include media(phablet) {
  .main {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 3rem auto;
    padding: 1rem;
    
    &__article {
    
    }

    &__aside {

    }
  }
}