// COLORS
$first-color: #AC519C;
$second-color: #E5424F;


// background: linear-gradient(90deg, #B678AA 1.29%, #E28990 100%);

// Gatters

$margin-1: 1rem;
$margin-2: 2rem;
$margin-3: 3rem;
$margin-4: 4rem;
