// COLORS
$first-color: #AC519C;
$second-color: #E5424F;

$hr-first-color: #9B2686;
$hr-second-color: #E51323;

$inactive-first-color: #B678AA;
$inactive-second-color: #E28990;

$color-gray: #F5F5F5;
$color-gray-dark: #848484;
$color-white: #fff;
$color-red: #E51323;

// text colors

$color-text-main: #101010;

$color-text-popup: #464646;



// Gutters

$margin-1: 1rem;
$margin-2: 2rem;
$margin-3: 3rem;
$margin-4: 4rem;
