body {
  font-family: 'Lato', sans-serif;
}

.big-title {
  font-weight: bold;
  margin: 1rem auto;
  text-align: left;
  font-size: 1.6rem;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1.5rem auto;
  text-align: left;
}

.main {
  &__article {
    text-align: center;

    &--text {
      text-align: left;
      font-weight: 300;
      line-height: 1.5;
    }
  }

  &__aside {

    &--btn {
      text-transform: capitalize;
      color: $color-white;
      font-size: 1rem;

    }
  }
}

@include media(tab-port) {
  .big-title {
    font-size: 1.4rem;
  }
  
  .title {
    font-size: 1.2rem;
  }

  .main {   
    &__aside {
      &--btn {
        font-size: .8rem;
      }
    }
  }
}